*{
    margin: 0;
    padding: 0;
    font-family: "my_poppins", serif;
}
h1{
    letter-spacing: 1px;
}

@font-face {
    font-family: "my_poppins";
    src: url("assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "my_inter";
    src: url("assets/fonts/inter/Inter-Regular.ttf");
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}


body{
    /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
    height: 100vh;
    /*background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);*/
    background-color: rgba(231, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: white;
}
.main-div{
    width: 170vh;
    height: 90vh;
    border-radius: 25px;
    background-color: #04b4e0;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    animation-name: bounce-in-top;
    animation-duration: 2s;
    /*border: 2px solid black;*/
}
.head-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.info-container{
    width: 70%;
    background-color: white;
    border-radius: 25px;
    color: black;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
    overflow-y: auto;
}

.image-container{
    border: 3px solid white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.image-container img, .link-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

button{
    color: white;
    background-color: #04b4e0;
    border-radius: 25px;
    border: 2px white solid;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
button:hover{
    color: #04b4e0;
    background: white;
    transition: 250ms ease;
}
.link-image:hover{
    background: rgba(255, 255, 255, 0.2);
}
.author-name{
    margin-bottom: 0;
}
footer{
    font-size: 12px;
    margin-top: 120px;
}
.related-links{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15%;
}
.author-details{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.head-name{
    font-size: 3em;
}
.common{
    margin: 0;
    padding: 0;
}
.shade{
    color: gray;
}
.mod-link{
    width: 45px;
    height: 45px;
    margin: 0 10px;
}
.nav-bar{
    position: relative;
    background: white;
    left: 55px;
    border-radius: 50px;
    padding: 8px;
    /*width: 40px;*/
}
.nav-bar ul li{
    list-style-type: none;
    margin: 20px 0;
    width: 30px;
    height: 30px;
    padding: 10px;
}
.active{
    border: 3px solid #04b4e0;
    border-radius: 50%;
    background-color: rgba(4, 180, 224, 0.5);
}
.nav-bar ul li img{
    height: 100%;
    width: 100%;
}
.nav-bar ul li:hover{
    cursor: pointer;
    background-color: rgba(4, 180, 224, 0.5);
    border-radius: 50%;
}
::-webkit-scrollbar{
    width: 0;
}

.me{
    color: #04b4e0;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 2400ms;
}
.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
    0% {
        /*-webkit-transform: scale(2);*/
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        /*-webkit-transform: scale(1);*/
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

.scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}











