.main-portfolio-container{
    width: 100%;
    height: 100%;
    /*border: #04b4e0 2px solid;*/
}
.main-portfolio-container nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-weight: bold;
}
.main-portfolio-container nav ul li{
    cursor: pointer;
    color: rgba(4, 180, 224, 0.5);
}

