.main-resume-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-resume-container{
    width: 55%;
}
.right-resume-container{
    width: 45%;
    /*border: 2px solid blueviolet;*/
    margin-left: 5px;
    margin-top: 60px;
}
.edu-cont{
    display: flex;
}
.year{
    width: 35%;
    /*margin: 0 10px;*/
    margin-right: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.desc{
    width: 65%;
}
p, li{
    text-align: justify-all;
    color: grey;
    font-size: 0.9em;
}
li::marker{
    color: #04b4e0;
}
.outer{
    width: 100%;
    height: 16px;
    border: 2px solid #04b4e0;
    border-radius: 20px;
    padding-top: 0.7%;
}
.inner{
    height: 80%;
    background-color: #04b4e0;
    border-radius: 20px;
    margin: 0 0 0 3px;
}
.skill-per{
    display: flex;
    justify-content: space-between;
}
.skill{
    margin: 20px 0;
}
.frontend{
    width: 90%;
    animation-delay: 0.6s;
}
.web{
    width: 95%;
}
.backend{
    width: 75%;
    animation-delay: 0.9s;
}
.database{
    width: 70%;
    animation-delay: 1.2s;
}
.end-user{
    width: 60%;
    animation-delay: 0.3s;
}
.graphic{
    width: 90%;
    animation-delay: 1.5s;
}
.java{
    width: 85%;
    animation-delay: 1.8s;
}
.javaScript{
    width: 80%;
    animation-delay: 2.1s;
}
.dart{
    width: 70%;
    animation-delay: 3s;
}
.php{
    width: 60%;
    animation-delay: 2.4s;
}
.c-{
    width: 60%;
    animation-delay: 2.7s;
}
.know-desc{
    background-color: #04b4e0;
    color: white;
    border-radius: 5px;
    margin: 3px;
    padding: 5px 5px;
}
.knowledge{
    display: flex;
    flex-wrap: wrap;
}


@keyframes scale-in-ver-bottom {
    0% {
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

.scale-in-ver-bottom {
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
